In [1]:
import random
import pandas as pd
import numpy as np

# 함수

## Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [2]:
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [3]:
a = random.sample(male, 5)
b = random.sample(female, 5)
for result in zip(a, b):
    print(result)

('온돌', '미미')
('갑돌', '갑순')
('이몽룡', '성춘향')
('로미오', '평강')
('철수', '줄리엣')

In [4]:
#sample로만 간단히 출력
a = random.sample(male, 5)
b = random.sample(female, 5)

for i in range(5):
    result = [a[i], b[i]]
    print(result)

['온돌', '평강']
['갑돌', '성춘향']
['이몽룡', '미미']
['철수', '줄리엣']
['로미오', '갑순']

In [5]:
#다른방법
a = random.sample(male, 5)
b = random.sample(female, 5)
couple = zip(a, b)
for i, pair in enumerate(couple):
    print(f'커플 {i+1}: {pair[0]}, {pair[1]}')

커플 1: 로미오, 갑순
커플 2: 이몽룡, 평강
커플 3: 갑돌, 성춘향
커플 4: 철수, 줄리엣
커플 5: 온돌, 미미

## Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복불가)

In [6]:
number = int(input('원하는 수량을 입력해주세요.'))

원하는 수량을 입력해주세요.5

In [7]:
#1~45까지 출력

from random import shuffle
from time import sleep

i=0

for i in range(number):
    balls = [x+1 for x in range(45)]  #1~45
    lotto = []
    for j in range(6):
        shuffle(balls)
        numbers = balls.pop() #중복추출 방지
        lotto.append(numbers)
        if j == 6:
    
    print('로또번호 [%d]:' %(i+1))
    print(lotto)
    sleep(1)


# while True:
#     i+=1
#     if i<number:
#         if num not in lotto:
#             lotto.append(num)
# num = random.randint(1,45)
#         elif len(lotto) == 6:
#             print(lotto, 'n')
#     elif i==number:break

IndentationError: expected an indented block (951463939.py, line 17)

## [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [ ]:
list = ['박영권', '김현지', '김덕현', '변서연', '한지웅', '양주희', '이호원', '정지은', '이정현A', '이명진', '이상윤', '조승현', '강유한', '김영선', '최애림', '김민섭', '박혜린', '이정현B', '윤정준', '김진형', '정승기', '진청아', '신창훈', '김병석', '박세희']

In [ ]:
import random 
import numpy as np


list = ['김현지','변서연','양주희','정지은','이정현A',
         '이정현B','이명진','김영선','최애림','박혜린',
         '진청아','박세희']

for i in range(5):
    result = [a[i], b[i]]
    print(result)

print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 

li = []
for i in range()
a = random.sample(list, 3)
li.append(a)

In [ ]:
#답 한번해보기
import random 
import numpy as np


list = ['김현지','변서연','양주희','정지은','이정현A',
         '이정현B','이명진','김영선','최애림','박혜린',
         '진청아','박세희']

for i in range(5):
    result = [a[i], b[i]]
    print(result)

print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 

li = []
a = random.sample(list, 3)
li.append(a)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

## Q3 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc->bca

In [ ]:
font = input('문자를 입력하세요.>>')

In [ ]:
change = []
for i in range(len(font)): # i의 범위설정 (0~len(font)까지)
    
    if i <len(font)-1:     # i가 마지막 인덱스 전 까지라면
        a = font[i+1]       # 다음 문자로 대체
        change.append(a)  
    
    if i == (len(font)-1):   # 마지막 인덱스는 처음 인덱스로 변경
        change.append(font[0]) 
        
('').join(change)    #join으로 묶어서 출력

In [ ]:
#더 간단한 방법
font[1:]+font[0]

#강사님이 알려주신 법
ret = ''
for i in range(len(font)):
    if i != len(font)-1:
        ret += font[i+1]
    else:
        ret += font[0]
print(ret)

## Q4 url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
- 정답: http://news.naver.com 추출되게끔

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

#인덱스 사용시

out = url[:21]
out

In [ ]:
#join 사용시
tmp = url.split('/')
domain = tmp[:3]

('/').join(domain)

In [ ]:
tmp

## Q5. url에서 쿼리문을 추출하여 출력하세요.

- url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

p = url.split('?')
t = p[1].split('&')

t

## Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [ ]:
file = open('dataset/mydata.txt', 'r')

In [ ]:
text = file.read()
wordList = list(str(text))
wordCount = {}
for word in wordList:
    wordCount[word] = wordCount.get(word,0)+1
    keys = sorted(wordCount.keys())
for word in keys:
    print(word+'->' + str(wordCount[word]) + '회 나타남')

In [ ]:
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read() #파일 전체 읽기
        fa = {} #딕셔너리 형태
        for c in text: #파일안에 있는 글자 중에
            if c in fa: #{}안에 있으면
                fa[c] += 1 #fa[c]의 value값을 +1, 없으면 1로 추가
            else:
                fa[c] = 1
    return fa 
ret = getTextFreq('dataset/mydata.txt') 
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True) #각 값들에 키와 값들로 묶어서 값에 대해 정렬 후 리스트로 출력
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

## Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성하기

In [ ]:
class Cal4:
    def __init__(self, a, b):
        self.first = a
        self.second = b

    def add(self):
        return self.first+self.second

    def sub(self):
        return self.first-self.second

    def mul(self):
        return self.first*self.second

    def div(self):
        return self.first/self.second

In [ ]:
while True:
    a = int(input('첫번째 숫자를 입력해주세요.>>'))
    b = int(input('두번째 숫자를 입력해주세요.>>'))
    if a*b==0:
        print('0이 아닌 숫자를 입력해주세요.')
    else:
        out = Cal4(a, b)
        break

print()
print('----<a와 b의 사칙연산 결과>----')
print('a+b=', out.add())
print('a-b=', out.sub())
print('a*b=', out.mul())
print('a/b=', round(out.div(), 2))

## Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하기

In [ ]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    
order = Order('kevin')
print(order.order(1000))

In [ ]:
class extraOrder(Order):
    def order(self, price): 
        self.customer += price 
        won = [str(self.customer), '원']
        out = ('').join(won)
        print (self.name, '님이 구매하신 금액은', out, '입니다.')

order = extraOrder('kevin')
order.order(1000)

## Q9. 업무미팅이 2시임을 알려주는 자동 이메일 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [ ]:
class AutoEmail:
    def __init__(self, name, time):
        self.name = name
        self.time = time
    
    def datetime()

# 정규표현식

## Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [8]:
import re

In [9]:
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
f = re.compile(r'\d{3}[-]\d{3}[-]\d{4}')
find = f.findall(text)
find

['032-232-3245']

## Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = '에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx'

In [10]:
text = '에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx'
error = re.compile('에러+\s\w+')
error.findall(text)

['에러 1122', '에러 1033', '에러 xxx']

## Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [11]:
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
code = re.compile('\s(\d{3})')
code.findall(text)

['032']

## Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요. 
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [12]:
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
call = re.compile('\d{3}[-]\d{4}')
call.findall(text)

['232-3245']

## Q14. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요.

In [13]:
q = 'abcdefghij'
p = re.compile(r'(((\w{4})(\w))(\w{4}))\w')
m = p.finditer(q)
for i in m:
    print(i.group(1))
    print(i.group(4))

abcdefghi
e

In [16]:
# 다른 방법

p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
# print(m.group(0))
print(m.group(1))
m.group(5)

abcdefghi

'e'

## Q15. 위문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [14]:
#출력값?
(i.group(0), i.group(1), i.group(2), i.group(3), i.group(4), i.group(5))

('abcdefghij', 'abcdefghi', 'abcde', 'abcd', 'e', 'fghi')

In [15]:
li = []
for a in range(6):
    li.append(i.group(a))
tu = tuple(li)

tu

('abcdefghij', 'abcdefghi', 'abcde', 'abcd', 'e', 'fghi')

## Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

In [3]:
import re
text = 'Lots of punctuation'

p = re.compile('^(?P<find>\w+)\s')
result = p.search(text)
result.group('find') #그룹에 ''붙이기

'Lots'

## Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [7]:
A = 'Paris is very very beautiful.'

p = re.compile(r'\w{4}\s\w{4}')
p.findall(A)

['very very']

## Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.
출력 답: ['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [17]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('(\d+\s\w+)')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

## Q19. text에서 'H, h'만 출력하세요.

In [24]:
text = 'Hello my friend! Life is short you need Python!'

t = re.compile('[Hh]')
t.findall(text)

['H', 'h', 'h']

## Q20. text에서 ''H, h' 가 아닌 것만  모두 출력하세요.

In [27]:
t = re.compile('[^Hh]')
li = t.findall(text)
('').join(li)

'ello my friend! Life is sort you need Pyton!'

## Q21.  'we are going home'에서 home만 출력하세요.

In [1]:
#정규식 사용
import re
w = 'we are going home'
h = re.compile('[h]\w+')
p = h.findall(w)
p

['home']

In [ ]:
h1 = re.compile("\w+$")

In [17]:
#인덱스 사용
w[-4:]

'home'

## Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [2]:
number = '199305, 1923A, a93247'
n = re.compile('\d+')
p = n.findall(number)
p[0]

'199305'

## Q23. '12345abc'에서 'abc'만 출력하세요.

In [28]:
text1 = '12345abc'
t = re.search(r'[0-9]+((\w).*)', text1)
t.group(1)

'abc'

In [33]:
text1 = '12345abc'
m = re.search('\D+', text1)
m.group()

'abc'

## Q24. '12345abc'에서 'a'만 출력하세요.

In [22]:
t.group(2)

'a'

In [36]:
m = re.search('[a-z]', text1)
m.group()

'a'

## Q25.  'abc12345Abc'에서 'A'만 출력하세요.

In [30]:
text2 = 'abc12345Abc'
t = re.search(r'[0-9]+((\w).*)', text2)
t.group(2)

'A'

- 07/22

## Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [4]:
import re
text = 'Banker'
t = re.search('[a-z]+', text)
print(t.group())

text1 = 'banker123'
t1  = re.search('([a-z]+)', text1)
print(t1.group())

anker
banker

## Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [15]:
ko = 'KOREA 대한민국'
k = re.compile('\s(\w)')
k.findall(ko)

['대']

In [6]:
ko = 'KOREA 대한민국'
k = re.search('[가-힣]', ko)
k.group()

'대'

## Q28. text 에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [1]:
import re
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
t3 = re.search('[e]([a]\w+)', text)
t4 = t3.group(1)
print(t4)
len(t4)
t4[:16]

aaaaBBBcccDDDeeeeeeDDDcccBBBaaaa

'aaaaBBBcccDDDeee'

In [2]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
t3 = re.search('a{4}B{3}c{3}D{3}e{3}', text)
t3.group()

'aaaaBBBcccDDDeee'

## Q29. 아래의 경우에서 \<html>만 출력하세요

In [34]:
# Q.
pattern = re.compile('<.*>')
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))
p = pattern.search(text)
l = p.group(0)
li = l.split('<head>')
li[0]

59

'<html>'

In [11]:
import re
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*?>')

print(len(text))
p = pattern.search(text)
print(p.group())

59
<html>

In [26]:
p1 = pattern.findall(text)
p1

['<html><head><title>Title</title></head><body></body></html>']

## Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [12]:
text2 = '1234a1234'
t4 = re.compile('\d')
t5 = t4.findall(text2)
t5

['1', '2', '3', '4', '1', '2', '3', '4']

# 07/25

## Q32.  text에서 전체문장 모두 출력하세요.

In [1]:
import re

text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('\D*') #\D 숫자뻬고 모든 문자(기호 포함)
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [2]:
#다른 방법

text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*', re.DOTALL) # .* : 줄바꿈 문자가 있는곳 까지 출력 (DOTALL로 줄바꿈도 같이 출력)
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

## Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요

In [ ]:
text = 'Friend fRiend friEnd FRIEND'

In [5]:
#다른 방법
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('friend',re.I) #re.I : 대소문자 구분없이 출력
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

# 날짜

## Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [3]:
import time
from datetime import datetime
d = datetime.fromtimestamp(1609160537.371015)
print(d.strftime('%c'))

#정석
time1 = datetime.fromtimestamp(int(1609160537.371015))
time1 = time.strftime("%a %b %d %H:%M:%S %Y")
print(time1)

#다른 방법
timestring=time.ctime(1609160537.371015) 
#ctime : timestamp를 현지 시간대 기준으로 요월일 시:분:초 년 포멧으로 변환해줌
print(timestring, type(timestring))

Mon Dec 28 22:02:17 2020
Wed Jul 27 08:15:20 2022
Mon Dec 28 22:02:17 2020 <class 'str'>

## Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [4]:
t = time.time()
d = datetime.fromtimestamp(t)
d1 = time.strftime('%a %b %d %H:%M:S %Y')
d1

'Wed Jul 27 08:15:S 2022'

- 07/26

## Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [5]:
from datetime import datetime 

now = datetime.now()
result = now.strftime('%Y-%m-%d %H:%M:%S')
result

'2022-07-27 08:15:26'

## Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [6]:
import time

now = time.time()
result = datetime.fromtimestamp(now)
d1 = time.strftime('%Y-%m-%d %H:%M:%S')
d1

'2022-07-27 08:15:29'

## Q38. 올해 경과된 날짜수 계산하세요

In [7]:
before = datetime.strptime('20220101', '%Y%m%d')
now = datetime.now()

date = now - before
print('경과된 날짜수:', date.days, '일')

경과된 날짜수: 207 일

## Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [8]:
times = datetime.today()
day = times.weekday()
days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']

#년-월-일
year_day = time.strftime('%Y-%m-%d')

print(year_day, '오늘은', days[day], '입니다.')

2022-07-27 오늘은 수요일 입니다.

In [ ]:
today = datetime.date.today()

#다른 방법
def get_yoil(y,m,d):

## Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [10]:
before = time.time()

result = 0
for i in range(1, 1000001):
    result +=i
print(result)

after = time.time()

hour = after-before
print(hour)

500000500000
0.0968468189239502

In [14]:
# 1ms = 0.000001초 (1초 = 10**6)

hour_ms = hour*(10**6)
print(hour_ms, 'ms')

96846.8189239502 ms

- 07/27

## Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')

In [24]:
list_num = [52,273,32,72,100]

try:
    num_input = int(input('정수 입력> ')) 
    print(f'{num_input}번째 요소: {list_num[num_input-1]}')

except ValueError:
        print('정수만 입력해주세요!')
except IndexError:
            print('52,273,32,72,100 중에서만 입력해주세요!')
except Exception:
            print('오류가 발생했습니다. 다시 입력해주세요.')

print('예외처리 완료!')

정수 입력> 88
52,273,32,72,100 중에서만 입력해주세요!
예외처리 완료!

In [33]:
x = input('ddddd')

dddddddd

In [34]:
type(x)

str

## Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [41]:
#클래스 생성
class Add_price: 
    
    def __init__(self, before_price, add_price): 
        self.price =  add_price
        self.before = before_price
        
    def price1(self): 
        return self.before+int(self.price)
    
    def price2(self):
        return (self.before+int(self.price))*0.9

while True:
    try:
        x = int(input('+추가 가격 ='))
        price = Add_price(1000, x)
        break
        
    except ValueError:
        print('정수만 입력해주세요!')

print('<추가가격 입력 후 price1과 price2의 가격>', '\n')
print('price1의 가격:', price.price1(), '원')
print('price2의 가격:', price.price2(), '원')

+추가 가격 =8850
<추가가격 입력 후 price1과 price2의 가격>

price1의 가격: 9850 원
price2의 가격: 8865.0 원

## Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [49]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

strings.reverse() #역정렬
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [ ]:
#다른 방법
strings.sort(key = lambda x:len(x), reverse = True)

strings.sort(key = len, reverse = True)
strings

## Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [51]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab'] 
strings.sort(key = lambda x:len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [53]:
#revers 사용 : 역순
strings.reverse()
strings

['card', 'bar', 'abab', 'foo', 'aaaa']

In [ ]:
#다른 방법
strings = ['foo', 'card', 'bar', 'aaaa', 'abab'] 
strings.sort(key = lambda x:len(set(x)), reverse = True)
strings

## Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [59]:
text = 'abcde'

#1번째 [인덱스 사용]
print(text[::-1])

#2번째 [for문 사용]
text = 'abcde'

#3번째 []

#4번째 []

#5번째 []

edcba

In [63]:
text = 'abcde'

for i in range(len(text)):
    text[i] = text[len(text)-1-i]
print(text)

TypeError: 'str' object does not support item assignment

- 07/28

## Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [54]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter = {} #딕셔너리 생성

for number in numbers:
    
    counter[number] = numbers.count(number) #키값 입력 : value값 입력

# 리스트로 변환
# keys = list(counter.keys())
# value = [counter.values()]

# # 값 출력
for key, value in counter.items():
    print(f'{key}는 {value}번 등장합니다.')

3는 4번 등장합니다.
6는 2번 등장합니다.
5는 2번 등장합니다.
8는 2번 등장합니다.
2는 2번 등장합니다.
9는 2번 등장합니다.
7는 2번 등장합니다.
4는 2번 등장합니다.

## Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [2]:
# Q.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [4]:
[i*i for i in range(0, 20, 2)]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

## Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [5]:
def factorial(x):
    ret = 1
    for i in range(1, x+1):
        ret*=i
    return ret    

print('5!=', factorial(5), '\n')
print('10!=', factorial(10))

5!= 120

10!= 3628800

## Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [9]:
def factoiral(x):
    if x == 1:
        return 1
    elif x>1:
        return x*factorial(x-1)
    else:
        print('숫자를 다시 입력해주세요.!')
        
print('<출력값>')
print('1!=', factorial(1), '\n')
print('5!=', factorial(5), '\n')
print('10!=', factorial(10))

<출력값>
1!= 1

5!= 120

10!= 3628800

## Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요

In [17]:
a = [1,2,3,4,5]
a1 = [1.0*x for x in a]
print(a1, type(a1[1]))

[1.0, 2.0, 3.0, 4.0, 5.0] <class 'float'>

In [1]:
# map 함수 이용
a = [1,2,3,4,5]

list(map(float, a))

[1.0, 2.0, 3.0, 4.0, 5.0]

- 07/29

## [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [9]:
# Q. 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
#[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [18]:
import re
text = re.sub('[^a-zA-Z|\s{2, }]', '', str(states))
text

'   Alabama , Georgia, Georgia, georgia, FlOrIda, south   carolina, West virginia'

## Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [7]:
try: 
    total = int(input('총 게시물의 건수를 입력해주세요>>'))
    page_1 = int(input('한페이지에 입력될 게시물의 수를 입력해주세요>> '))
    
    if total%page_1 == 0 :
        tatal_page = total//page_1
    else:
        total_page = (tatal//page_1) + 1
    print('총 페이지 수:', total_page)
except:
    print('다시 입력해주세요.')

총 게시물의 건수를 입력해주세요>>4
한페이지에 입력될 게시물의 수를 입력해주세요>> 2
다시 입력해주세요.

In [ ]:

total = int(input('총 게시물의 건수를 입력해주세요>>'))
page_1 = int(input('한페이지에 입력될 게시물의 수를 입력해주세요>> '))

if total%page_1 == 0:
    total_page = total//page_1
print(total_page) 

else:
    total_page = (total//page_1) + 1
print(total_page)

## Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

# Q53. 입력한 숫자를 천 단위로 구분하여 출력하기

In [11]:
number = input('숫자를 입력해주세요.')

if len(number)>3:
    for i in range(3, len(number)):
        i +=3
        result = number.rjust(i, ',')
print(result)

숫자를 입력해주세요.1505
,,1505

In [ ]:
# 다른 방법
num = int(input('숫자를 입력해주세요.'))
if num.isdigit(): # isdigit = 문자열의 모든 문자가 숫자일 때 ture, 문자가 포함되어있을 때 false 
    num = num[::-1]
    com = ' '

# Q54. 카운터에서 거스름돈으로 사용할  500원, 100원, 50원, 10짜리 동전이 무한히 있다고 가정한다. 손님에게 거를러줘야할 돈이 N원 일 때 거슬러 줘야할 동전의 최소 개수를 구하세요.
단, 거슬러 줘야할 돈 N 은 항상 10의배수이다. N은 2750원이다.

In [6]:
coins = [500, 100, 50, 10]
count = 0
try:
    N = int(input('거스름돈을 입력해주세요.'))

    for coin in coins:
        count += N//coin
        N = N % coin
    print('최소 거스름돈의 개수:', count, '개 입니다.')
except:
    print('다시 입력해주세요.!')

거스름돈을 입력해주세요.2750
최소 거스름돈의 개수: 8 개 입니다.

In [13]:
# 다른방법 (보기)

## Q55. dataset/mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [ ]:
#다시 작성하기 (틀림)

In [3]:
li = [] 
count = 0
with open('dataset/mydata.txt', 'r') as f:
    for line in f:
        if line not in li :
            li.append(line)
            count +=1
        else:
            pass
print('단어수', count, '개')

단어수 34 개

In [5]:
import re
li = []
with open('dataset/mydata.txt', 'r') as f:
    line = f.read()
    for line in f:
        if line not in li :
            li.append(line)
            count +=1
        else:
            pass
print('단어수', count, '개')

단어수 34 개

In [4]:
# 다른 방법
with open('dataset/mydata.txt', 'r') as f:
    data = f.read()
    tmp = data.split()
    print(f'단어수 : {len(tmp)}')

단어수 : 213

## Q56. 파일이름과 특정 단어을 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [34]:
def Find_Count(filename, word) :
    count = 0
    with open (filename, 'r') as f:
        for line in f:
            if word in line:
                count+=1
    return count

print('출력 개수 : ', Find_Count("dataset/mydata.txt", "how"), '개')

출력 개수 :  2 개

In [10]:
# 다른방법
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower() #대소문자 구별없이 찾아야 함
        pos = text.find(word)
        count = 0
        while pos != -1: #pos (word가) 없을 때까지 진행
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower()
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: dataset/mydata.txt
filename에서 개수를 구할 단어를 입력하세요: how
how의 개수: 2

## Q57. 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [81]:
text = input('****문자열을 입력해주세요.>>')

li = []

for i in range(len(text)):

    if i == 0 :
        li.append(text[i])
        li.append(str(1))  # 나중에 join을위해 str 형태로 바꿔줌
        
    elif text[i] == text[i-1]: # 전과같으면 숫자 변경
        count = int(li[-1]) # 숫자로 형태 바꿈 (+1을 위해)
        count +=1
        li[-1] = str(count) 
    
    elif text[i] != text[i-1]: 
        li.append(text[i])
        li.append(str(1))
    
    result = ''.join(li) # 문자열 합해주기 (a,1,b,2,...)
    
print('반복횟수 출력 값:', result)

****문자열을 입력해주세요.>>aaabbcccccca
반복횟수 출력 값: a3b2c6a1

In [3]:
# 다른방법
from itertools import groupby # 새로운 라이브러리

t = "aaaabbbbccccca"
"".join(f'{x}{len(list(y))}' for x, y in groupby(t))

'a4b4c5a1'

## Q60.
N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [27]:
# 1번째 방법 while문 사용
# 첫번째 조건 (N M K를 입력 받기)

while True:
    numbers = (input("세가지 숫자를 공백으로 입력해주세요>>")).split()
    
    try:
        number = [int (i) for i in numbers]
    except ValueError:
        print("숫자로만 입력해주세요!!")
        continue
    
    # 3가지 숫자가 아닐 때
    if len(number) !=3:
        print("세가지 숫자로 입력해주세요!!")
        continue
        
    N = number[0]
    M = number[1]
    K =  number[2]
    
    if (N<2) | (N>1000) | ((M or K) < 1) | ((M or K)>10000):
        print("조건에 맞게 입력해주세요!") 
        continue
    if M > N*K: # 최종더하는 횟수가 도달이 안될때
        print(f"*다시입력해주세요!* 총{M}번을 더할 수 없습니다!")
        continue
    break
    
    

# 두번째 조건(N개의 배열)
while True:
    n_arrs = input("N개의 배열을 공백으로 입력해주세요>>")
    n_arr = n_arrs.split()

    try: # 1. 문자 예외
        n_arr = [int (i) for i in n_arr]
    except ValueError:
        print("숫자로만 입력해주세요!!")
        continue

    if len(n_arr) != N: # 2. 배열의 개수가 N개와 같지 않으면
        print(f"{N}개의 개수로만 입력해주세요!")
        continue

    n_arr.sort(reverse=True) # 큰 숫자 순서대로 나열
    result = 0 #변수 생성
    
# 조건에 맞는 경우---------------------------------------------------------------------------------------------------------------------
    if K >= M: 
        #K가 M보다 클 때

        result = n_arr[0]*M  
        print(f"가장 큰 수는 {result}입니다!")
        break;

    elif K < M :
        for i in range(len(n_arr)):
            m = M #총 더해주는 수

            result += n_arr[i]*K

            m = m-K*(i+1) # 점점 숫자를 빼줌
            if m<0: break;
    print(f"가장 큰 수는 {result}입니다!")

    break

세가지 숫자를 공백으로 입력해주세요>>4 8 6
N개의 배열을 공백으로 입력해주세요>>4 8 7 6
가장 큰 수는 90입니다!

In [19]:
# 2. 
N = 4 M = 10 K = 2

[9, 8, 7, 5, 4]

In [26]:
# 예시
K = 7
M = 35
n_arr = [5, 8, 6, 7, 10]
n_arr.sort(reverse=True)
result = 0

# #K가 M보다 클 때
# result = n_arr[0]*M  
    
#K가 M보다 작을 때
for i in range(len(n_arr)):
    m = M #총 더해주는 수

    result += n_arr[i]*K

    m = m-K*(i+1) # 점점 숫자를 빼줌
    if m<0:
        pass
print(result)

350

In [ ]:
4 29 
1등 * 4 + 2등 * (29-4*1) + 3등 * (29-4*2) + 4등 * (29-4*3) + 5등 * (29-4*4) + 6등 * (29-4*5) + 7등 * (29-4*6) + 8등 * (29-4*7)

In [2]:
class Number():
    numbers = (input("세가지 숫자를 공백으로 입력해주세요>>")).split()
    
    def __init__(self):

        numbers = self.numbers
        print("*****가장 큰 수를 구합니다.*****")
        
        try:
            number = [int (i) for i in numbers]
        
        except ValueError:
            print("숫자로만 입력해주세요!!") ## 1. 문자 오류
            self.numbers
            
Number()

세가지 숫자를 공백으로 입력해주세요>>1 5 e
*****가장 큰 수를 구합니다.*****
숫자로만 입력해주세요!!

In [1]:
# class 이용
class Number():
    
    def __init__(self):
        print("*****가장 큰 수를 구합니다.*****")
        
        try: #type오류 체크하기

            numbers = (input("세가지 숫자를 공백으로 입력해주세요>>")).split()
            number = [int (i) for i in numbers]

        except:
            print("숫자로만 입력해주세요!!", '\n') ## 1. 문자 오류
            Number.__init__(self) ## 다시 입력받기

        if len(number) > 3: # 2. 개수 오류
            print("숫자를 다시 입력해주세요!!! **3가지 숫자로만 입력하기**", '\n')
            Number.__init__(self) ## 다시 입력받기
            
        N = number[0]
        M = number[1]
        K =  number[2]
        
        if (N<2) | (N>1000) | ((M or K) < 1) | ((M or K)>10000): # 3. 조건 오류
            print("조건에 맞게 입력해주세요!", '\n') 
            Number.__init__(self)
        
# 조건에 부합 할 때만 진행하기
            
        while True:

            n_arrs = (input("N개로 이루어진 배열을 공백을 사용해 입력해주세요>>")).split()

            try: #예외처리

                n_arr = [int (i) for i in n_arrs]

            except ValueError: # 1. 문자 에러
                print("숫자로만 입력해주세요!!", '\n')
                continue

            if len(n_arr) != N: #  2. 배열의 개수가 N개와 같지 않으면
                print(f"{N}개에 맞춰 다시 입력해주세요!", '\n')
                continue

# 모든 조건 부합 할 때 식--------------------------------------------------------------------------------------------------------------------------

            n_arr.sort(reverse=True) # 큰 숫자 순서대로 나열
            result = 0 #변수 생성
    
            if K >= M : #K가 M보다 클 때
                result = n_arr[0]*M 
                print(f"가장 큰 수는 {result}입니다!", '\n')
                
                break;

            elif K < M :
                for i in range(1, len(n_arr)):
                    m = M # 점점 숫자를 빼줌
                    
                    result += n_arr[i]*K
                    
                    m = m-K*(i+1) # 점점 숫자를 빼줌
                    if m<0: break;
            print(f"가장 큰 수는 {result}입니다!")

            break;
#-------------------------------------------------------------------------------------------------------------------------------------------------

In [2]:
Number()

*****가장 큰 수를 구합니다.*****
세가지 숫자를 공백으로 입력해주세요>>4 8 0
N개로 이루어진 배열을 공백을 사용해 입력해주세요>>4 4 8
4개에 맞춰 다시 입력해주세요!

N개로 이루어진 배열을 공백을 사용해 입력해주세요>>4 8 9 7
가장 큰 수는 0입니다!

In [ ]:
# 서연언니 식 보기

In [4]:
# 강사님 답
# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기

data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result) # 최종 답안 출력

4 8 6
4 8 9 7
71

In [14]:
9*6+8*1+9*1

71

In [17]:
int(8/7)*6

6

In [8]:
n, m, k = map(int, input().split())

7 10 4

In [10]:
data = list(map(int, input().split()))

4 8 6 7 8 4 4 5

In [11]:
data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2]

In [12]:
first

8

In [13]:
second

7

In [ ]:
i, j = divmod(M,K)
total_sum = sum(array_b[:i]) * 3 + array_b[i] * j

## Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

In [4]:
# 1번째 방법
from pathlib import Path
txt_size = Path('stockcode.txt').stat().st_size
img_size = Path('img_sample.jpg').stat().st_size

print("txt file size:", txt_size, "bytes")
print("img file size:", img_size, "bytes")

txt file size: 16339 bytes
img file size: 170005 bytes

In [5]:
# 2번째 방법
import os
txt_size = os.path.getsize("stockcode.txt")
img_size = os.path.getsize("img_sample.jpg")

print("txt file size:", txt_size, "bytes")
print("img file size:", img_size, "bytes")

txt file size: 16339 bytes
img file size: 170005 bytes

In [6]:
with open('stockcode.txt', 'r') as f:
    f.seek(0,2)
    at = f.tell()
with open('img_sample.jpg', 'r') as f:
    f.seek(0,2)
    bt = f.tell()
    
print(at, bt)

16339 170005

## Q62.
stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [10]:
with open('stockcode.txt', 'rb') as f: #바이트로 읽어야해서 rb로 써야함
    f.seek(105,0)
    body = f.read(500)
with open('stock_part.txt', 'wb') as f: #바이트로 써야해서 wb로 써야함
    f.write(body)
    
with open('stock_part.txt', 'r') as f:
    print(f.read())
os.path.getsize('stock_part.txt')

 유한양행
000101 유한양행우
000120 대한통운
000140 하이트홀딩스
000141 하이트홀딩스우
000150 두산
000151 두산우
000152 두산2우B
000180 성창기업지주
000210 대림산업
000211 대림산업우
000220 유유제약
000221 유유제약1우
000222 유유제약2우B
000230 일동제약
000240 한국타이어
000270 기아차
000300 대유신소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로

500

#### Q63. 네이버 검색에서 관심 주제와 기사 수를 입력하면 그만큼 출력하는 크롤링 프로그램을 작성하여 다음 사항을 수행하세요.

기사 제목과 링크를 데이터프레임으로 가져온 후 본문 내용에서 한글 단어만 출력하여 형태소 분석
최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 빈도분석 및 시각화
AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

In [1]:
from bs4 import BeautifulSoup 
import urllib
import urllib.request as rq
import pandas as pd

global news_df

def News():
    global keyword, num, news_df, url,page_num
    
    keyword = input('검색 키워드를 입력해주세요')
    keyword = urllib.parse.quote(keyword) #퍼센트인코딩 #URL에 문자를 표현하는 인코딩방법(URL에 한글이 섞이면 오류 발생)
    num = int(input('필요한 뉴스기사의 숫자를 입력해주세요'))
    
    news_df = pd.DataFrame(columns=['title','url']) 
    
    page_num=1
    i=0 #크롤링한 기사의 수
    while num > i:
        url = 'https://search.naver.com/search.naver?where=news&sm=tab_jum&query='+keyword+'&start='+str(page_num)
        html = rq.urlopen(url)
        bs = BeautifulSoup(html,'html.parser')
        texts = bs.find_all(class_='news_tit')

        for text in texts:
            news_df.loc[i,'title'] = text.get_text()
            news_df.loc[i,'url'] = text['href']
            i +=1
            if i == num:
                break
        page_num +=10
    return news_df

News()

검색 키워드를 입력해주세요AI
필요한 뉴스기사의 숫자를 입력해주세요50

,title,url
0,"KT·서울성모병원, 당뇨 관리 돕는 AI 기술 개발",https://biz.chosun.com/it-science/ict/2022/08/...
1,"삼성전자, AI인재 키워 반도체·디스플레이 연구한다",https://zdnet.co.kr/view/?no=20220807083406
2,삼성전자 ‘AI 챌린지’,https://www.chosun.com/economy/tech_it/2022/08...
3,"농정원, 스마트농업 AI 경진대회 개최…총상금 1억원",https://www.yna.co.kr/view/AKR2022080806520000...
4,"코트라, 'AI 활용'…중견기업 ESG 모니터링 지원",http://www.edaily.co.kr/news/newspath.asp?news...
5,"네이버-네이버클라우드-충북대병원, AI 활용한 스마트 병원 구축 '맞손'",http://www.newsis.com/view/?id=NISX20220808_00...
6,"KT-NIPA, ICT 벤처에 DX 컨설팅·AI인재 양성 지원",http://www.etnews.com/20220808000071
7,"대구 영진전문대, AI융합기계계열 학술대회 논문상 수상",https://www.news1.kr/articles/4766090
8,"KT, 공감하는 AI로 ‘사람다운’ 로봇 세상 만든다",https://shindonga.donga.com/3/all/13/3546076/1
9,"영남중·대구고 SW동아리, MS 주최 AI 경진대회 수상",https://www.pressian.com/pages/articles/202208...
10,"""AI로 기초학력 진단·혁신학교 재구조화""...경기교육감직 인수위, 백서발간",http://www.newsis.com/view/?id=NISX20220808_00...
11,"네이버-네이버클라우드-충북대병원, AI 활용한 스마트 병원 구축 '맞손'",http://www.newsis.com/view/?id=NISX20220808_00...
12,"영남중·대구고 SW동아리, MS 주최 AI 경진대회 수상",https://www.pressian.com/pages/articles/202208...
13,"삼성전자, 대학·대학원생 대상 '2022 삼성 AI 챌린지' 개최",https://www.yna.co.kr/view/AKR2022080700790000...
14,AI와 대화·이동통신 모니터링…‘고독사 예방’ 팔걷은 지자체들,http://www.munhwa.com/news/view.html?no=202208...
15,"KT-NIPA, ICT 벤처에 DX 컨설팅·AI인재 양성 지원",http://www.etnews.com/20220808000071
16,"영진전문대 AI융합기계계열, 로봇관련 학술대회 논문상 수상",http://www.newsis.com/view/?id=NISX20220808_00...
17,현대차 `R&D 경력` 세자릿수 채용… AI 인터뷰 도입,http://www.dt.co.kr/contents.html?article_no=2...
18,"서울시-KAIST, 기업 내부서 고급 AI개발자 인력 양성하도록 지원",https://www.news1.kr/articles/4765085
19,지금 들어가고 9월까지는 팔아라…AI가 예언하는 '나스닥100',http://news.mk.co.kr/newsRead.php?no=694373&ye...
20,"남성희 전문대교협회장 ""전문대 AI·반도체 전공에 4년제 허용해야""",https://www.hankyung.com/society/article/20220...
21,[AI-META 시대 '미래전략']<26>교육 대전환,http://www.etnews.com/20220805000145
22,"도매꾹, B2B 마켓 최초 AI 상품추천 서비스",http://www.etnews.com/20220808000199
23,"도로교통공단, 빅데이터ㆍAI 기반 위험도로예측 시범서비스 구축",https://www.dnews.co.kr/uhtml/view.jsp?idxno=2...
24,AI와 영어 말하기 대결…윤선생 '말하톤 대회' 개최,http://www.newsis.com/view/?id=NISX20220808_00...
25,"시 쓰는 AI, 인간에게 던지는 화두는?",https://science.ytn.co.kr/program/program_view...
26,"조선대, 프라이버시 보장 AI 기술 공동 개발…동형암호 실용화 기반 마련",http://www.etnews.com/20220808000045
27,"과기정통부, AI 초일류 전략 내놓는다···AI 활용 제고에 방점",http://www.etnews.com/20220808000122
28,"""AI는 LG죠"" 과기부 주최 심포지엄 주관사 합류…그룹사 총출동",http://news.mt.co.kr/mtview.php?no=20220808140...
29,"GS네오텍, AI 적용한 차세대 보안 서비스 ‘사이트디펜더’ 출시",http://www.newsis.com/view/?id=NISX20220808_00...
30,"조선대, 화정중서 ‘AI‧SW 여름방학 아카데미’ 진행",https://www.wikitree.co.kr/articles/778425
31,"카카오가 찜한 'AI 아이돌', 뉴스 생방송에서 일냈다…'가상인간' 열풍",https://www.news1.kr/articles/4763658
32,‘땅개’서 ‘AI 무장 호랑이’로… 전투력 초격차로 적 초토화 [S스토리],http://www.segye.com/content/html/2022/08/05/2...
33,"KT, EBS와 AI 인재 육성 맞손",https://zdnet.co.kr/view/?no=20220805084926
34,풍선 속 다이아몬드 찾기…중국 쇼핑몰 아수라장｜AI가 Pick한 세상,https://news.jtbc.co.kr/article/article.aspx?n...
35,"똑똑한 'AI 은행원' 나온다...금융위, 가명정보 AI 데이터로 허용",http://www.newsis.com/view/?id=NISX20220803_00...
36,"광주시의회, AI 전문가 초청 '인공지능 R&D 발전방향' 공부",http://news.heraldcorp.com/view.php?ud=2022080...
37,동강대 AI 기반 맞춤형 토익 프로그램 실시,https://www.jnilbo.com/view/media/view?code=20...
38,AI가 이젠 시도 쓰고 작곡도 한다…저작권은 어떻게 될까,https://news.sbs.co.kr/news/endPage.do?news_id...
39,"김포공항 AI, 반입금지 물품 1초만에 잡는다",http://news.mk.co.kr/newsRead.php?no=694564&ye...
40,"서울시-KAIST, 고급 AI개발자 양성 프로그램 지원",http://www.irobotnews.com/news/articleView.htm...
41,"에이프리카, AI 통합 플랫폼 '치타' 조달청 디지털서비스몰 등록",http://www.datanet.co.kr/news/articleView.html...
42,"라이언로켓 X 티그컴퍼니, AI 접목한 새로운 K컬처 선봬",http://www.lawissue.co.kr/view.php?ud=20220808...
43,"의료기 유통 에이치엔드림, AI영상분석 우경정보기술과 협약",https://sports.donga.com/article/all/20220808/...
44,"시 쓰는 AI, 인간에게 던지는 화두는?",https://www.ytn.co.kr/_ln/0106_202208070606416803
45,“눈동자로 책장 넘긴다” AI 기술 만난 전자책의 진화,https://www.hani.co.kr/arti/economy/it/1053906...
46,세일즈포스·마이크로소프트…전세계 AI기업 한방에 투자,http://news.mk.co.kr/newsRead.php?no=694525&ye...
47,"포스코그룹, AI 기술 자문위원회 신설…'미래 전략' 수립 시동",http://www.kyongbuk.co.kr/news/articleView.htm...
48,"현대차 연구개발본부, AI활용 대규모 경력직원 채용",http://www.joseilbo.com/news/news_read.php?uid...
49,"포스코그룹, 'AI 기술 자문위원회' 신설…""신사업·인재 발굴""",https://www.yna.co.kr/view/AKR2022080502920000...

In [ ]:
# 불용어 처리 (광고, 문자, 베너 등)
한글 단어만 출력하여 형태소 분석 최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 
빈도분석 및 시각화 AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

In [2]:
news_df.head()

,title,url
0,"KT·서울성모병원, 당뇨 관리 돕는 AI 기술 개발",https://biz.chosun.com/it-science/ict/2022/08/...
1,"삼성전자, AI인재 키워 반도체·디스플레이 연구한다",https://zdnet.co.kr/view/?no=20220807083406
2,삼성전자 ‘AI 챌린지’,https://www.chosun.com/economy/tech_it/2022/08...
3,"농정원, 스마트농업 AI 경진대회 개최…총상금 1억원",https://www.yna.co.kr/view/AKR2022080806520000...
4,"코트라, 'AI 활용'…중견기업 ESG 모니터링 지원",http://www.edaily.co.kr/news/newspath.asp?news...

## Q64.어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.  N과 K를 입력했을 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 완성하세요.

1. N에서 1을 뺀다.
2. N을 K로 나눈다.

In [19]:
# 양의 정수로만 입력하기
N, K = map(int, input('두수를 양의 정수로 입력해주세요>>').split())

# 변수 설정
n = N
k = K
count = 0 

while True:
    tup = divmod(n, k)

    # 나누어 떨어지면 2번 진행 (N은 몫이 됨)
    if tup[1]== 0:
        n = tup[0]
    else:
        n -=1 # 2번 조건이 아닐 때 -1씩 감소
        
    count+=1
    
    if n==1: break;

print('최소횟수:', count)

두수를 양의 정수로 입력해주세요>>10 3
최소횟수: 3

## Q65. 아래와 같이 출력하는 코드를 작성하세요.

*
**
***
****
*****

In [2]:
# for문

for i in range(5):
    result = "*"*(i+1)
    print(result)

*
**
***
****
*****

In [4]:
# while문

i = 1
while True:
    result = "*"*i
    i+=1
    if i == 7:
        break;
    print(result)

*
**
***
****
*****

In [12]:
# 다른방법

result = ["*"*i for i in range(1, 6)]
print(result)

['*', '**', '***', '****', '*****']

# Q66. 아래와 같이 출력하는 코드를 작성하세요.

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# for문

for i in

In [40]:
result = [((" " * (4-i)) + ("*" * (1+(2*i)))) for i in range(5)]
b = len(result)
for i in range(b):
    print(result[i])
    
for i in range(1, b):
    print(result[-(i+1)])

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# Q67. Tree의 높이를 입력하면 해당하는 높이의 아래와 같은 Tree를 출력하는 프로그램을 작성하세요.

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
        ***
        ***
        ***

In [5]:
b = int(input("나무의 높이를 입력해주세요>>"))

i = 1
t = b-3-1

while True: 
    result = " "*t+"*"*i
    t -=1
    i +=2
    print(result)
    if t <0:break;
print(" "*(b-3-2)+"*"*3)
print(" "*(b-3-2)+"*"*3)
print(" "*(b-3-2)+"*"*3)

나무의 높이를 입력해주세요>>13
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
        ***
        ***
        ***

## Q68. 구구단을 입력하는 프로그램을 작성하세요.

In [16]:
gugu = int(input("구구단을 외자~ 구구단을 외자~>>"))
i = 0
while True:
    i += 1
    result = i*gugu
    print(f"{i}*{gugu}= {result}")
    if i == 10: break;

구구단을 외자~ 구구단을 외자~>>8
1*8= 8
2*8= 16
3*8= 24
4*8= 32
5*8= 40
6*8= 48
7*8= 56
8*8= 64
9*8= 72
10*8= 80

## Q69.
아래와 같이 입력하면 N X M 행렬 형태의 숫자 카드 중에서 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한 후 그 행에서 가장 숫자가 낮은 카드를 뽑아야 하는 규칙하에서 가장 높은 숫자가 쓰인 카드 한장의 숫자를 출력한는 프로그램을 작성하세요. 
- 첫번째 입력 : N X M 형열에 대하여 N(행), M(열)의 개수를 공백을 기준으로 입력(1<= N, M<=100)
- 두번째 입력 : 각 행의 숫자를 공백을 기준으로 입력. 단, 각 숫자는 1 이상 10000 이하의 자연수임

In [64]:
array = input("N x M 행렬 형태")
N = int(array.split()[0])
M = int(array.split()[1])

# 딕셔너리 형태 활용
dic = {}
for i in range(N):
    arr = input(f"{M}개의 수를 입력해주세요")
    print(f"************{i}행************")
    arra = arr.split()
    print(f'{i}행 = {arra}')
    # 행에서 가장 작은수
    dic[i] = min(arra)
    print(f'{i}행 중 가장 작은 수= {dic[i]}','\n')
    # 그중 가장 큰 수
    best_max = [k for k,v in dic.items() if max(dic.values()) == v]
print("큰 수가 포함되어있는 숫자>>", best_max, "행", "카드", max(dic.values()))

N x M 행렬 형태5 3
3개의 수를 입력해주세요15 65 42
************0행************
0행 = ['15', '65', '42']
0행 중 가장 작은 수= 15

3개의 수를 입력해주세요15 33 12
************1행************
1행 = ['15', '33', '12']
1행 중 가장 작은 수= 12

3개의 수를 입력해주세요123 14 52
************2행************
2행 = ['123', '14', '52']
2행 중 가장 작은 수= 123

3개의 수를 입력해주세요15 32 45
************3행************
3행 = ['15', '32', '45']
3행 중 가장 작은 수= 15

3개의 수를 입력해주세요12 11 56
************4행************
4행 = ['12', '11', '56']
4행 중 가장 작은 수= 11

큰 수가 포함되어있는 숫자>> [0, 3] 행 카드 15